html {
    margin: 0%;
    padding: 0%;
}

body
{
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    font-size: 40%;
}

.work {
    background-color: aqua;
}

.work .btn{
    padding: 30px;
    background-color: aquamarine;
    box-shadow: none;
    border-radius: 0%;
}